<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
          <connectionStrings>
            <add name="db" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-C78EE50;Initial Catalog=StockMasterDb;Integrated Security=True"/>
          </connectionStrings>
</configuration>